<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <script type="text/javascript" src="/js/jquery.min.css" th:src="@{/js/jquery.min.js}"></script>
    <script type="text/javascript" src="/js/bootstrap.min.css" th:src="@{/js/bootstrap.min.js}"></script>
    <link rel="stylesheet" href="/webapp/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}">
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .flex-container {
            position: relative;
            top: 19px;
            display: -webkit-flex;
            display: flex;
            -webkit-align-items: flex-start;
            align-items: flex-start;
            border-bottom-style: ridge;
            border-bottom-width: 1px;
            height: 98px;
        }

        .flex-item {
            margin-left: 10px;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-sm-12">
                <div class="form-group flex-container">
                    <div class="flex-item" style="width: 13%">
                        <label for="selectCourse">选择科目</label>
                        <select  id="selectCourse" class="form-control">
                            <option>请选择科目</option>
                            <option th:each="glc:${glc}" th:text="${glc.coursename}"></option>
                        </select>
                    </div>
                    <div class="flex-item" style="width: 13%">
                        <label for="selectCourseClass">选择教学班</label>
                        <select  id="selectCourseClass" class="form-control">
                            <option>请选择班级</option>
                        </select>
                    </div>
                    <div  class="flex-item" style="width: 20%">
                        <label for="selectWorkname">选择作业名称</label>
                        <select  class="form-control" id="selectWorkname">
                            <option>请选择作业名称</option>
                        </select>
                    </div>
                    <div  class="form-group flex-item" id="handInWork" >
                        <label for="selectFile">作业选择:</label>
                        <input type="file" id="selectFile" name="file">
                    </div>
                    <div class="flex-item" style="position: relative;top: 15px;right: 10px">
                        <button type="button" class="btn btn-info" id="handIn">上交</button>
                    </div>

                </div>
        </div>
        <div class="col-sm-12" id="workInfo">
            <table class="table table-striped">
                <caption>作业信息列表</caption>
                <thead>
                <tr>
                    <th>作业名称</th>
                    <th>课程名称</th>
                    <th>教学班</th>
                    <th>作业发布日期</th>
                    <th>截止上交日期</th>
                    <th>作业状态</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>
<script th:inline="javascript">
    var hl = [[${hl}]];
    console.log(hl);
    hl.forEach(myFunction1);

    //遍历作业信息
    function myFunction1(value, index, array) {
        var path = value.filepath;
        var index = path.lastIndexOf("\\");
        var workAllName=path.slice((index+1));
        console.log(workAllName);
        $('#workInfo tbody').append('<tr>' +
            '<td>' + value.workname + '</td>' +
            '<td>' + value.course + '</td>' +
            '<td>' + value.uploadclass + '</td>' +
            '<td>' + value.uploaddate + '</td>' +
            '<td>' + value.enddate + '</td>' +
            '<td>' + value.state + '</td>' +
            '<td><a href="../../homework/'+  value.teaid + '/' + value.course+'/'  + value.uploadclass+'/'+ workAllName +'">下载</a></td></tr>');
    }

    //选择科目
    $('#selectCourse').change(function () {
        $('#selectCourseClass').empty();
        var course = $(this).children('option:selected').val();
        var courseClass = [[${gcc}]];
        $('#selectCourseClass').append('<option value="all">全部</option>');
        courseClass.forEach(myFunction);
        function myFunction(value, index, array) {
            if (course === value.coursename) {
                $('#selectCourseClass').append('<option value="' + value.courseclass + '">' + value.courseclass + '</option>');
            }
        }
    });

    //下拉选择作业名称
    $('#selectCourseClass').change(function () {
        console.log([[${gwn}]]);
        $('#selectWorkname').empty();
        var courseClass = $(this).children('option:selected').val();
        var workName = [[${gwn}]];
        $('#selectWorkname').append('<option value="all">全部</option>');
        workName.forEach(myFunction);
        function myFunction(value, index, array) {
            if ( courseClass === value.uploadclass) {
                $('#selectWorkname').append('<option th:value="' + value.workname + '">' + value.workname + '</option>');
            }
        }
    });

    //上交作业
    $('#handIn').click(function () {
        var course = $('#selectCourse').children('option:selected').val();
        var courseClass = $('#selectCourseClass').children('option:selected').val();
        var workName = $('#selectWorkname').children('option:selected').val();
        var today = new Date();
        var handInDate = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();
        var fd = new FormData();
        var handInFile = $('#selectFile')[0].files[0];
        fd.append("handInFile", handInFile);
        fd.append("course",course);
        fd.append("courseClass",courseClass);
        fd.append("handInDate",handInDate);
        fd.append("workName",workName);
        $.ajax({
            url:'/student/handInFile',
            type:'POST',
            enctype: "multipart/form-data",
            processData: false,
            contentType: false,
            data: fd,
            success:function(info){
                alert(info);
                location.reload();
            },error:function (e) {
                alert('上交失败！！');
            }
        })
    });

</script>
</body>
</html>