<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="/js/jquery.min.css" th:src="@{/js/jquery.min.js}"></script>
    <script type="text/javascript" src="/js/bootstrap.min.css" th:src="@{/js/bootstrap.min.js}"></script>
    <link rel="stylesheet" href="/webapp/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" href="/css/teacher.css" th:href="@{/css/teacher.css}">
    <style>
        .flex-container {
            position: relative;
            top: 10px;
            display: -webkit-flex;
            display: flex;
            -webkit-align-items: flex-start;
            align-items: flex-start;
        }
        .flex-item {
            margin-left: 10px;
        }
        .coursetable{
            position: relative;
            top: 20px;
        }
        a{
            cursor: pointer;
        }
    </style>
</head>
<body>
<div class="container" style="position: relative;top: 15px;">
    <div class="flex-container">
        <div class="btn-group flex-item ">
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">添加课程信息
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li><a class="addImport" data-toggle="modal" data-target="#importCourse">
                    <span class="glyphicon glyphicon-import"></span> 导入文件添加</a></li>
                <li><a class="addWrite" data-toggle="modal" data-target="#addCourse">
                    <span class="glyphicon glyphicon-pencil"></span> 输入添加</a></li>
            </ul>
        </div>
        <div class="flex-item">
            <button type="button" class="btn btn-success" id="exportTeacourse">
                <span class="glyphicon glyphicon-export"></span>导出课程信息</button>
        </div>
    </div>
    <div style="margin-top: 23px;margin-left: 14px;">
        <button class="btn btn-default btn-sm" onclick="deleteSome()"><span class="glyphicon glyphicon-trash"></span> 删除</button>
    </div>
    <div class="coursetable">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>
                    <input type="checkbox" name="fhcheckbox" id="zcheckbox"></th>
                <th>课程名称</th>
                <th>课程教学班</th>
                <th>学生人数</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>

​ <!-- 模态框（Modal） -->
<div class="modal fade" id="addCourse" tabindex="-1" role="dialog" aria-labelledby="importModalLabel"
                           aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                        aria-hidden="true">×
                </button>
                <h4 class="modal-title" id="importModalLabel">
                    添加课程信息
                </h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="courseName">输入课程信息</label>
                    <input type="text" class="form-control" id="courseName" placeholder="输入课程名称">
                    <label for="courseClass">输入课程教学班</label>
                    <input type="text" class="form-control" id="courseClass" placeholder="输入课程教学班">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default"
                        data-dismiss="modal">关闭
                </button>
                <button id="sureAdd" type="button" class="btn btn-primary">
                    确定增加
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

​ <!-- 模态框（Modal） -->
<div class="modal fade" id="importCourse" tabindex="-1" role="dialog" aria-labelledby="importModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                        aria-hidden="true">×
                </button>
                <h4 class="modal-title" >
                    添加课程信息
                </h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="courseName">选择导入文件</label>
                    <input type="file" id="importFile">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default"
                        data-dismiss="modal">关闭
                </button>
                <button id="sureImport" type="button" class="btn btn-primary">
                    确定导入
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<div class="modal fade" id="modifyCourse" tabindex="-1" role="dialog" aria-labelledby="importModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                        aria-hidden="true">×
                </button>
                <h4 class="modal-title" id="modifyModelLable">
                    添加课程信息
                </h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <input type="text" class="form-control" id="courseid" style="display: none;">
                    <label for="courseName">输入课程名称</label>
                    <input type="text" class="form-control" id="editName" placeholder="输入课程名称">
                    <label for="courseClass">输入课程教学班</label>
                    <input type="text" class="form-control" id="editClass" placeholder="输入课程教学班">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default"
                        data-dismiss="modal">关闭
                </button>
                <button id="editCourse" type="button" class="btn btn-primary">
                    确定修改
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<div class="modal fade" id="exportCourse" tabindex="-1" role="dialog" aria-labelledby="exportModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                        aria-hidden="true">×
                </button>
                <h4 class="modal-title" id="exportModelLable">
                    导出课程信息
                </h4>
            </div>
            <div class="modal-body">
                <div class="form-group">

                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script th:inline="javascript">
    var courseList = [[${courseList}]];
    courseList.forEach(myFunction);

    //遍历课程信息
    function myFunction(value, index, array) {
        var coursename = "'" + value.coursename + "'";
        var courseclass = "'" + value.courseclass + "'";
        var appendChile = '<tr><td><input type="checkbox" name="ids" id="'+ value.courseid + '">' +
            '</td><td>'+
            value.coursename + '</td><td>'+
            value.courseclass + '</td><td>'+ value.totalstudent +
            '</td><td><a onclick="deleteCourse('+ value.courseid +')">' +
            '<button class="btn btn-default btn-sm"><span class="glyphicon glyphicon-trash"></span> 删除</button></a>  ' +
            '<a data-toggle="modal" data-target="#modifyCourse" onclick="goEditCourse('+ value.courseid +
            ',' + coursename + ',' + courseclass +')"><button class="btn btn-default btn-sm"><span class="glyphicon glyphicon-edit"></span> 修改</button></a></td></tr>';
        $('.coursetable tbody').append(appendChile);
    }
    //
    $("#sureImport").click(function () {

        //关闭模态框
        $(function() {
            $('#importCourse').modal('hide')
        });
    });

    $("#sureAdd").click(function () {

        //关闭模态框
        $(function() {
            $('#addCourse').modal('hide')
        });
        var courseName = $("#courseName").val();
        var courseClass = $("#courseClass").val();
        var fd = new FormData();
        fd.append("courseClass",courseClass);
        fd.append("courseName",courseName);
        $.ajax({
            url:'/teacher/writeAddCourse',
            type:'POST',
            processData: false,
            contentType: false,
            data: fd,
            success:function(data){
                if(data == "success"){
                    alert("保存成功！");
                    location.reload();
                }
            },
            error:function (e) {
                alert('保存失败！！');
            }
        });
    });
    $("#sureImport").click(function () {
        if (validateRule() == false) {
            return false;
        }
        //关闭模态框
        $(function() {
            $('#addCourse').modal('hide')
        });
        var fd = new FormData();
        var importFile = $('#importFile')[0].files[0];
        fd.append("importFile", importFile)
        $.ajax({
            url:'/teacher/importAddCourse',
            enctype: "multipart/form-data",
            type:'POST',
            processData: false,
            contentType: false,
            data: fd,
            success:function(data){
                if(data == "success"){
                    alert("保存成功！");
                    location.reload();
                }
            },
            error:function (e) {
                alert('保存失败！！');
            }
        });
    });

    //判断上传的问题是否为excel
    function validateRule() {
        var file = $("#importFile").val();
        var index = file.lastIndexOf(".");
        var ext = file.substring(index + 1, file.length);
        if (file == '' || file == null) {
            alert("请选择所要上传的文件！");
            return false;
        } else if (ext != "xls" && ext != "xlsx") {
            alert("上传的文件格式不正确，请选择Excel文件(*.xls/*.xlsx)！");
            return false;
        }
        return true;
    }

    //删除课程信息
    function deleteCourse(courseid){
        var fd = new FormData();
        fd.append("courseid", courseid)
        var r=confirm("确定删除？");
        if (r==true){
            $.ajax({
                url:'/teacher/deletecourse',
                enctype: "multipart/form-data",
                type:'POST',
                processData: false,
                contentType: false,
                data:fd ,
                success:function(data){
                    if(data == "success"){
                        alert("删除成功！");
                        location.reload();
                    }
                },
                error:function (e) {
                    alert('删除失败！！');
                }
            });
        }
    }

    //去修改
    function goEditCourse(id,coursename,courseclass) {
        $("#editName").val(coursename);
        $("#editClass").val(courseclass);
        $("#courseid").val(id);
    }

    //修改课程信息
    $("#editCourse").click(function () {
        var coursename = $("#editName").val();
        var courseclass = $("#editClass").val();
        var courseid = $("#courseid").val();
        var fd = new FormData();
        fd.append("coursename", coursename);
        fd.append("courseclass", courseclass);
        fd.append("courseid", courseid);
        var r = confirm("确定修改？");
        if (r == true){
            $.ajax({
                url:'/teacher/editcourse',
                enctype: "multipart/form-data",
                type:'POST',
                processData: false,
                contentType: false,
                data:fd ,
                success:function(data){
                    debugger
                    if(data == "success"){
                        alert("修改成功！");
                        location.reload();
                    }
                },
                error:function (e) {
                    alert('修改失败！！');
                }
            });
        }
    });

    //导出数据
    $('#exportTeacourse').click(function () {
        var r=confirm("确定导出吗？");
        if (r==true){
            $.ajax({
                url:'/teacher/exportTeacourse',
                enctype: "multipart/form-data",
                type:'POST',
                processData: false,
                contentType: false,
                success:function(data){
                    var href = '../../upload/' + data.trim();
                    window.location.href = href;
                },
                error:function (e) {
                    alert("导出失败！");
                }
            });
        }
    });

    //多选
    $('#zcheckbox').click(function(){
        $("input[name='ids']").prop("checked",this.checked);
    });
    //多选操作
    function deleteSome() {
        var r=confirm("确定删除吗？");
        if (r==true){
           var someCourse = [];
           $("input[name='ids']").each(function () {
               debugger
               if ($(this).is(':checked')){
                   console.log($(this).attr("id"));
                   someCourse.push($(this).attr("id"));
               }
           });
            var fd = new FormData();
            fd.append("someCourse", someCourse);
            $.ajax({
                url:'/teacher/deleteSomeCourse',
                enctype: "multipart/form-data",
                type:'POST',
                processData: false,
                contentType: false,
                data:fd ,
                success:function(data){
                    alert("删除成功！");
                    location.reload();
                },
                error:function (e) {
                    alert("删除失败！！");
                }
            });
        }
    }


</script>
</body>
</html>