<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <script type="text/javascript" src="/js/jquery.min.css" th:src="@{/js/jquery.min.js}"></script>
    <script type="text/javascript" src="/js/bootstrap.min.css" th:src="@{/js/bootstrap.min.js}"></script>
    <script type="text/javascript" src="/js/bootstrap.min.css" th:src="@{/js/bootstrap-datetimepicker.min.js}"></script>
    <script type="text/javascript" src="/js/bootstrap.min.css" th:src="@{/js/bootstrap-datetimepicker.zh-CN.js}"></script>
    <link rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" href="/css/fragment.css" th:href="@{/css/fragment.css}">
    <link rel="stylesheet" href="/css/bootstrap-datetimepicker.min.css" th:href="@{/css/bootstrap-datetimepicker.min.css}">
    <link  rel="stylesheet" href="/css/teacher.css" th:href="@{/css/teacher.css}">
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .flex-container {
            position: relative;
            top: 10px;
            display: -webkit-flex;
            display: flex;
            -webkit-align-items: flex-start;
            align-items: flex-start;
            margin-top: 20px;
            margin-bottom: 20px;
        }
        .flex-item {
            margin-left: 10px;
        }
        .coursetable{
            position: relative;
            top: 20px;
        }
        a{
            cursor: pointer;
        }
    </style>
</head>
<body class="uploadbody">
<div class="container">
<div th:replace="~{fragments/uploadwork::uploadwork}"></div>
    <div class="flex-container">
        <div class="flex-item" style="width: 15%">
            <label for="selectWorkCourse">选择科目</label>
            <select id="selectWorkCourse" class="form-control" >
                <option>请选择科目</option>
                <option th:each="c:${course}" th:text="${c}"></option>
            </select>
        </div>
        <div class="flex-item" style="width: 15%">
            <label for="selectWorkCourseClass">选择教学班</label>
            <select id="selectWorkCourseClass" class="form-control">
                <option>请选教学班</option>
            </select>
        </div>
        <div class="flex-item" style="position: relative;top: 24px;">
            <button type="button" id="findWork" class="btn btn-success">
                <span class="glyphicon glyphicon-search"></span> 查找</button>
        </div>
    </div>
    <table class="table table-bordered" id="homeworkInfo">
        <thead>
        <tr>
            <th>作业名称</th>
            <th>课程名称</th>
            <th>发布班级</th>
            <th>发布时间</th>
            <th>截止上交时间</th>
            <th>修改/删除</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="c:${page.list}">
            <td th:text="${c.workname}"></td>
            <td th:text="${c.course}"></td>
            <td th:text="${c.uploadclass}"> </td>
            <td th:text="${c.uploaddate}"></td>
            <td th:text="${c.enddate}"></td>
            <td>
                <button type="button" class="btn btn-default btn-sm update"
                        th:onclick="deleteWork([[${c.workid}]],[[${c.filepath}]],[[${c.course}]],[[${c.uploadclass}]]);">
                <span class="glyphicon glyphicon-trash"></span> 删除
                </button>
                <button type="button" class="btn btn-default btn-sm update" data-toggle="modal" data-target="#myModal">
                    <span class="glyphicon glyphicon-edit"></span> 修改
                </button>
                </td>
        </tr>
        </tbody>
    </table>
<div class="page">
    <ul class="pagination">
        <li><a th:href="@{/teacher/fragment(start=${page.pageNum-1})}">&laquo;</a></li>
        <li class="active"><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><a th:href="@{/teacher/fragment(start=${page.pageNum+1})}">&raquo;</a></li>
    </ul>
</div>
<!-- 模态框（Modal） -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    作业发布信息修改
                </h4>
            </div>
            <div class="modal-body">
                <div th:replace="~{fragments/uploadwork :: uploadwork}"></div>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">关闭
            </button>
        </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
</div>
<script th:inline="javascript">
    $('.form_date').datetimepicker({
        language: 'zh-CN',
        format: 'yyyy-mm-dd',
        weekStart: 0,
        todayBtn: 1,
        autoclose: 1,
        todaHighlight: 1,
        startView: 2,
        minView: 'month',
        forceParse: 0,
        startDate: new Date(),
    });
    console.log([[${page}]]);

    $('.update').click(function () {
        var id = $(this).parents("td");
        var enddate = id.prev().prev();
        var uploaddate = enddate.prev();
        $('.modal-body #uploaddate').attr('value',uploaddate.text());
        $('.modal-body #enddate').attr('value',enddate.text());
    });

    $('#selectCourse').change(function () {
        $('#selectCourseClass').empty();
        var course = $(this).children('option:selected').val();
        var courseClass = [[${courseClass}]];
        $('#selectCourseClass').append('<option value="all">全部</option>');
        courseClass.forEach(myFunction);
        function myFunction(value, index, array) {
            if (course === value.coursename) {
                $('#selectCourseClass').append('<option th:value="' + value.courseclass + '">' + value.courseclass + '</option>');
            }
        }
    });

    $('#selectWorkCourse').change(function () {
        $('#selectWorkCourseClass').empty();
        var course = $(this).children('option:selected').val();
        var courseClass = [[${courseClass}]];
        $('#selectCourseClass').append('<option value="all">全部</option>');
        courseClass.forEach(myFunction);
        function myFunction(value, index, array) {
            if (course === value.coursename) {
                $('#selectWorkCourseClass').append('<option th:value="' + value.courseclass + '">' + value.courseclass + '</option>');
            }
        }
    });

    $('.modal-body #selectCourse').change(function () {
        $('.modal-body #selectCourseClass').empty();
        var course = $(this).children('option:selected').val();
        var courseClass = [[${courseClass}]];
        $('.modal-body #selectCourseClass').append('<option value="all">全部</option>');
        courseClass.forEach(myFunction);
        function myFunction(value, index, array) {
            if (course === value.coursename) {
                $('.modal-body #selectCourseClass').append('<option value="' + value.courseclass + '">' + value.courseclass + '</option>');
            }
        }
    });

    $("#findWork").click(function () {
        let course = $('#selectWorkCourse').children('option:selected').val();
        let courseClass = $('#selectWorkCourseClass').children('option:selected').val();
        var fd = new FormData();
        fd.append("course", course);
        fd.append("courseClass", courseClass);
        $.ajax({
            url: '/teacher/findWork',
            data: fd,
            type: 'post',
            processData: false,
            contentType: false,
            success: function (data) {
                $("#homeworkInfo tbody").empty();
                console.log(data);
                data.forEach(eachHomework);

                function eachHomework(value, index, array) {
                    var workid = "'" + value.workid + "'";
                    var uploadclass = "'" + value.uploadclass + "'";
                    var filepath = "'" + value.filepath + "'";
                    var course = "'" + value.course + "'";
                    var appendChild = '<tr><td>'+value.workname +'</td><td>'+value.course +'</td><td>'+value.uploadclass +'</td><td>'+value.uploaddate
                        + '</td><td>'+value.enddate +'</td><td><a onclick=" deleteWork('+ workid + ',' + filepath
                        + ',' + course + ','+ uploadclass + ')"><button class="btn btn-default btn-sm"><span class="glyphicon glyphicon-trash"></span>删除</button> </a> ' +
                        '<a class="update" data-toggle="modal" data-target="#myModal"><button class="btn btn-default btn-sm"><span class="glyphicon glyphicon-edit"></span> 修改</button></a></td></tr>';
                    $("#homeworkInfo tbody").append(appendChild)
                }
            },
            error:function (e) {
                alert('发表失败！');
            }
        })
    });

    function deleteWork(workid,filepath,course,uploadclass) {
        var fd = new FormData();
        fd.append("workid",workid);
        fd.append("filepath",filepath);
        fd.append("course",course);
        fd.append("uploadclass",uploadclass);
        var r = confirm("确定修改？");
        if (r == true){
            $.ajax({
                url:'/teacher/workdelete',
                enctype: "multipart/form-data",
                type:'POST',
                processData: false,
                contentType: false,
                data: fd,
                success:function(data){
                    if(data == "success"){
                        alert("删除成功！");
                        location.reload();
                    }
                },
                error:function (e) {
                    alert('保存失败！！');
                }
            });
        }
    }

</script>
</body>
</html>