<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="/js/jquery.min.css" th:src="@{/js/jquery.min.js}"></script>
    <script type="text/javascript" src="/js/bootstrap.min.css" th:src="@{/js/bootstrap.min.js}"></script>
    <link rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}">
    <style>
        .flex-container {
            position: relative;
            top: 19px;
            display: -webkit-flex;
            display: flex;
            -webkit-align-items: flex-start;
            align-items: flex-start;
            border-bottom-style: ridge;
            border-bottom-width: 1px;
            height: 98px;
        }

        .flex-item {
            margin-left: 10px;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="form-group flex-container">
        <div class="flex-item" style="width: 13%">
            <label for="name">选择科目</label>
            <select id="selectCourse" class="form-control" >
                <option th:value="select">请选择科目</option>
                <option th:each="wc:${course}" th:value="${wc}"  th:text="${wc}"></option>
            </select>
        </div>
        <div class="flex-item" style="width: 13%">
            <label for="name">选择教学班</label>
            <select id="selectCourseClass" class="form-control">
                <option th:value="select">请选择班级</option>
            </select>
        </div>
        <div  class="flex-item" style="width: 20%">
            <label for="name">选择作业名称</label>
            <select class="form-control" id="selectWorkname">
                <option th:value="select">请选择作业名称</option>
            </select>
        </div>
        <div  class="form-group flex-item" id="handInWork" >
            <label for="homeworkState">作业状态</label>
            <select class="form-control" id="homeworkState" >
                <option>已上交</option>
                <option>未上交</option>
            </select>
        </div>
        <div class="flex-item" style="position: relative;top: 25px; left: 10px;">
            <button id="findBtn" class="btn btn-info" data-loading-text="查找中..."
                    type="button">查找
            </button>
        </div>
    </div>

    <table class="table table-bordered" id="workInfo">
        <caption>学生作业信息</caption>
        <thead>
        <tr>
            <th>学号</th>
            <th>姓名</th>
            <th>作业名称</th>
            <th>分数</th>
            <th>状态</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>

    ​ <!-- 模态框（Modal） -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="importModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"
                            aria-hidden="true">×
                    </button>
                    <h4 class="modal-title" id="importModalLabel">
                        作业评分
                    </h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="name">标签</label>
                        <input style="display: none;" id="workid">
                        <input style="display: none;" id="stuid">
                        <input style="display: none;" id="liIndex">
                        <input type="text" class="form-control" id="saveScore" placeholder="输入作业分数">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default"
                            data-dismiss="modal">关闭
                    </button>
                    <button id="giveScore" type="button" class="btn btn-primary">
                        确定评分
                    </button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</div>

<script th:inline="javascript">
    var al = [[${allScore}]];
    $('#workInfo tbody').empty();
    al.forEach(myFunction);

    $(function() {
        $("#findBtn").click(function(){
            var course = $('#selectCourse').children('option:selected').val();
            var courseClass = $('#selectCourseClass').children('option:selected').val();
            var homeworkState =$('#homeworkState').children('option:selected').val();
            var workName =$('#selectWorkname').children('option:selected').val();
            var fd = new FormData();
            fd.append("course",course);
            fd.append("courseClass",courseClass);
            fd.append("homeworkState",homeworkState);
            fd.append("workName",workName);
            $.ajax({
                url:'/teacher/findWorkScore',
                type:'POST',
                processData: false,
                contentType: false,
                data: fd,
                success:function(data){
                    $('#workInfo tbody').empty();
                    if(data == ''){
                        alert("已查找到0个人");
                    }else {
                        data.forEach(myFunction);
                    }
                },error:function (e) {
                    alert('查找失败！！');
                }
            });

            //状态加载
            $(this).button('loading').delay(1000).queue(function() {
              $(this).button('reset');
               $(this).dequeue();
            });
        });
    });

    //下拉选择班级和科目
    $('#selectCourse').change(function () {
        $('#selectCourseClass').empty();
        var course = $(this).children('option:selected').val();
        var courseClass = [[${courseClass}]];
        $('#selectCourseClass').append('<option value="all">全部</option>');
        courseClass.forEach(myFunction);
        function myFunction(value, index, array) {
            if (course === value.coursename) {
                $('#selectCourseClass').append('<option th:value="' + value.courseclass + '">' + value.courseclass + '</option>');
            }
        }
    });

    //下拉选择作业名称
    $('#selectCourseClass').change(function () {
        $('#selectWorkname').empty();
        var courseClass = $(this).children('option:selected').val();
        var workName = [[${worknameList}]];
        $('#selectWorkname').append('<option value="all">全部</option>');
        workName.forEach(myFunction);
        function myFunction(value, index, array) {
            if ( courseClass === value.uploadclass) {
                $('#selectWorkname').append('<option th:value="' + value.workname + '">' + value.workname + '</option>');
            }
        }
    });

    //去评分
    function goGiveScore(score,workid,stuid,index) {
        $("#saveScore").val(score);
        $("#stuid").val(stuid);
        $("#workid").val(workid);
        $("#liIndex").val(index);
    }

    //遍历作业信息
    function myFunction(value, index, array) {
        var path = value.filepath;
        var workName = value.uploadworkname;
        var startIndex = path.lastIndexOf("homework");
        var nameIndex = path.lastIndexOf("\\");
        var halfPath = path.slice((startIndex + 8),nameIndex);
        var fullPath = '../../homework' + halfPath + '/' + value.stuid + '/' + workName;
        var fullPath1 = fullPath.replace(/\\/g,'/');
        var appendChile = '<tr><td>'+
            value.stuid + '</td><td>'+
            value.stuname + '</td><td>' + value.workname + '</td><td id="'+ index +'" >'+ value.score + '</td><td>'+value.state+'</td>';
        if (workName !== null){
            appendChile = appendChile + '<td><a  href="'+ fullPath1+ '">下载</a>  /  <a data-toggle="modal" data-target="#myModal" onclick="goGiveScore('+
                value.score +','+ value.workid + ',' +value.stuid + ',' + index +
                ')"  href="">评分</a></td></tr>';
        }else {
            appendChile = appendChile + '<td>下载  /  评分</td></tr>';
        }
        $('#workInfo tbody').append(appendChile);
    }

    //评分
    $("#giveScore").click(function () {

        //关闭模态框
        $(function() {
            $('#myModal').modal('hide')
        });

        //修改分数
        var modifyScore = $("#saveScore").val();
        var workid = $("#workid").val();
        var stuid = $("#stuid").val();
        var liIndex = "#" + $("#liIndex").val();
        var fd = new FormData();
        fd.append("modifyScore",modifyScore);
        fd.append("workid",workid);
        fd.append("stuid",stuid);
        $.ajax({
            url:'/teacher/modifyScore',
            type:'POST',
            processData: false,
            contentType: false,
            data: fd,
            success:function(data){
                debugger
                $(liIndex).text(data);
            },error:function (e) {
                alert('查找失败！！');
            }
        });
    });

</script>
</body>
</html>