<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="/js/jquery.min.css" th:src="@{/js/jquery.min.js}"></script>
    <script type="text/javascript" src="/js/bootstrap.min.css" th:src="@{/js/bootstrap.min.js}"></script>
    <script type="text/javascript" src="/js/bootstrap.min.css" th:src="@{/js/bootstrap-datetimepicker.min.js}"></script>
    <script type="text/javascript" src="/js/bootstrap.min.css" th:src="@{/js/bootstrap-datetimepicker.zh-CN.js}"></script>
    <link rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" href="/css/bootstrap-datetimepicker.min.css" th:href="@{/css/bootstrap-datetimepicker.min.css}">
    <link  rel="stylesheet" href="/css/teacher.css" th:href="@{/css/teacher.css}">
</head>
<body>
<a href="../../homework/456/html/MN/交作业了.docx">123</a>
<a href="../../homework/456/java基础知识/QM/1640129314/毕设数据库.vsd">456</a>
<a href="../../homework/456/html/MN/1640129313/交作业了.docx">789</a>
<a href="../../homework/456/html/MN/1640129313/新建%20Microsoft%20Word%20文档.docx">0000</a>
</body>
</html>