<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<meta charset="UTF-8">
	<title>Thymeleaf in action</title>
	<link >
</head>
<body>
	<div th:fragment="header">
		<nav class="navbar navbar-inverse" role="navigation">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="#">
						<span class="glyphicon glyphicon-home"></span> 学生作业管理系统
						<span>老师端</span>
					</a>
				</div>
				<div>
					<ul class="nav navbar-nav">
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">
								<span class="glyphicon glyphicon-user"></span>
								<span th:text="${userModel.teainfo.teaname}"></span><b class="caret"></b>
							</a>
							<ul class="dropdown-menu">
								<li><a  data-toggle="modal" data-target="#editMydata">修改个人信息</a></li>
								<li><a id="loginOut">退出登录</a></li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</nav>
	</div>
</body>
</html>