<div th:fragment="menu" class="left-menu">
    <ul>
        <li class="handIn">
            <a ><span class="glyphicon glyphicon-cloud-upload"></span> 上交作业</a>
        </li>
        <li  class="exchange">
            <a> <span class="	glyphicon glyphicon-envelope"></span> 师生交流</a>
        </li>
        <li class="mydata">
            <a>   <span class="glyphicon glyphicon-stats"></span>  我的作业数据</a>
        </li>
        <li class="workSituation">
            <a><span class="glyphicon glyphicon-comment"></span> 作业反馈</a>
        </li>
    </ul>
</div>
</body>
