<div th:fragment="menu" class="left-menu">
    <ul>
        <li class="uploadwork">
            <a >作业发布</a>
        </li>
        <li  class="teachertalk">
            <a>师生交流</a>
        </li>
        <li class="studata">
            <a>学生数据管理</a>
        </li>
        <li class="workcount">
            <a>作业情况统计</a>
        </li>
        <li class="workscore">
            <a>学生作业评分</a>
        </li>
        <li class="workaudit">
            <a>学生作业审核</a>
        </li>
        <li class="courseManager">
            <a>课程信息管理</a>
        </li>
    </ul>
</div>
</body>
